{%extends'base.html' %}
{% block title%}
Admin companies
{% endblock%}
{%block content%}
<div class="row">

    {% include 'admin/side_bar.html' %}
    <div class="col">
        <h3>Companies</h3>

<table class="table">

<tr>
<th>Name</th>
<th>Type</th>
<th>Activity</th>
<th>Adress</th>
<th>City</th>
<th>Country</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for c in companies %}
<tr>
<td>{{ c.name }}</td>
<td>{{ c.company_type }}</td>
<td>{{ c.activity }}</td>
<td>{{ c.address }}</td>
<td>{{ c.city }}</td>
<td>{{ c.country }}</td>
<td>{{ c.verified }}</td>

<td>

<a href="/admin/company/{{ c.id }}/approve" class="btn btn-success btn-sm">
Approve
</a>

<a href="/admin/company/{{ c.id }}/reject" class="btn btn-danger btn-sm">
Reject
</a>

</td>

</tr>
{% endfor %}

</table>
    </div>
</div>
{%endblock%}