{%extends'base.html' %}
{% block title%}
Admin Dashboard
{% endblock%}
{% block content%}
<div class="row">
    {% include 'admin/side_bar.html' %}
    <div class="col">
        <div class="container mt-4">

<h3>Admin Dashboard</h3>

<div class="row mt-4">

<div class="col-md-3">
<div class="card p-3">
<h6>Users</h6>
<h3>{{ users_count }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3">
<h6>Companies</h6>
<h3>{{ companies_count }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3">
<h6>Listings</h6>
<h3>{{ listings_count }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3">
<h6>Transactions</h6>
<h3>{{ transactions_count }}</h3>
</div>
</div>

</div>

</div>
    </div>
</div>


{%endblock%}