{%extends'base.html' %}
{% block title%}
Listing
{% endblock%}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col"></div>
        <div class="col-2">
            <a class="btn btn-secondary"   href="{{url_for('post_page')}}"><span style="font-size: large;">+</span> Ajouter </a>
        </div>
        
    </div>
     {% for item in items %}
    <div class="row listing-container mt-2">
        <div class="col-2" style=" text-align: center;margin-top: auto;margin-bottom: auto;font-size:xx-large;">
            <span class="recycle-symbol ">♻️</span>
        </div>
        <div class="col">
            <div class="row">{%if item.status == "active"%}
                                <p><span>❇</span> Active</p>
                                {% elif item.status== "solde"%}
                                <p><span>💸</span> Sold</p>
                                {%else%}
                                <p><span>🔴</span> Suspended</p>
                                {%endif%}
            </div>
            <div class="row"><h5>{{item.name}}</h5></div>
            <div class="row" style="color: gray;"><p>{{item.owned_category.name}}</p></div>
            <div class="row" style="color: gray;"><p>{{item.quantity}} {{item.unit}} disponible</p></div>
            <div class="row" style="color: gray;"><p><span>&#128205;</span> {{item.location}}</p></div>
            <div class="row"><p><span>&#9745;&#65039;</span> entreprise vérifiée</p></div>
            
            
        </div>
        <div class="col-1 text-center " >
            <div class="row " ><h6 style="font-weight: bold;">{{item.price}} DZD</h6></div>
            <div class="row p-1"><button class="btn btn-primary">Details</button></div>
            
            
        </div>


    </div>



    {% endfor %}
</div>
{%endblock%}