{%extends'base.html' %}
{% block title%}
Login in Page
{% endblock%}

{% block content %}

<div class="auth-body">
    <div class="auth-card ">
    <h1 class="text-center">REVELO</h1>
    <form method="POST">
    {{form.hidden_tag()}}
    {{form.email.label()}}
    {{form.email(class="form-control",placeholder="Email")}}

    {{form.password.label()}}
    {{form.password(class="form-control",placeholder="password")}}
    
    <br>
    
    {{form.submit(class="btn  btn-block btn-lg btn-primary text-center w-100")}}
    <br>
    <a href="{{url_for('signup_page')}}">Dont have account ?</a>
</form>
</div>
</div>


{% endblock %}