{%extends'base.html' %}
{% block title%}
POST WASTE
{% endblock%}
{% block content %}
<h1>POST WASTE</h1>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name(class="form-control",placeholder="Title")}}
        {{form.description.label()}}
        {{form.description(class="form-control",placeholder="Description")}}
        {%for attribute in quality_attributes %}
            {%if attribute.field=='select'%}
            <label> {{attribute.name}}</label>
                <select name={{attribute.name}}>
                <option value="">-- Veuiller choisir une option</option>
                    {% for option in attribute.options%}
                        <option value={{option.value}}>{{ option.value }}</option>
                    {%endfor %}
                </select>

            {%endif%}
        {% endfor %}<br>
        {{form.unit.label()}}
        {{form.unit(class="form-control",placeholder="Unit")}}<br>
        {{form.quantity.label()}}
        {{form.quantity(class="form-control",placeholder="Quantity")}}<br>
        {{form.location.label()}}
        {{form.location(class="form-control",placeholder="Pickup Location")}}<br>
        {{form.price.label()}}
        {{form.price(class="form-control",placeholder="Price")}}<br>
        {{form.pictures(class="form-control",placeholder="Ajouter des images")}}<br>
        {{form.submit(class="btn btn-block btn-lg btn-primary text-center")}}
        

    </form>
</div>
{% endblock %}